<ol class="relative border-s border-gray-200 dark:border-gray-700 mx-1.5">                  
    <li class="mb-10 ms-4 group">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 dark:bg-gray-700 group-hover:bg-sky-500 transition-all"></div>
        <div class="absolute w-4 h-4 bg-gray-200 rounded-full mt-1 -start-2 border border-white dark:border-sky-500 bg-transparent scale-0 group-hover:scale-100 transition-all"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 group-hover:text-sky-200 transition-all">2018 - Present</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white group-hover:text-sky-500 transition-all">UX & UI Designer / Financial Solutions </h3>
        <p class="mb-4 text-sm font-normal text-gray-500 dark:text-gray-400">Páginas Web, App´s, Wallboards, PWA...</p>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Trabajos para: Televisa, HDI, CorfiColombiana, Sapal, Pepsico, Edgewater, Vector, Club Industriales, Bancomext, ScotiaBank, Bursametrica, BMV, Cargil, Principal, Guanajuato</p>
    </li>
    <li class="mb-10 ms-4 group">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 dark:bg-gray-700 group-hover:bg-sky-500 transition-all"></div>
        <div class="absolute w-4 h-4 bg-gray-200 rounded-full mt-1 -start-2 border border-white dark:border-sky-500 bg-transparent scale-0 group-hover:scale-100 transition-all"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 group-hover:text-sky-200 transition-all">2015 - 2018</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white group-hover:text-sky-500 transition-all">Diseñador Web / Interlab </h3>
        <p class="mb-4 text-sm font-normal text-gray-500 dark:text-gray-400">Páginas Web e Identidad Corporativa</p>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Trabajos para: HIGEA, LAVISEVSM, Biodiagnostica, Laboratorios Express, Ba-lab, Global Laboratorios, Interlab</p>
    </li>
    <li class="mb-10 ms-4 group">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 dark:bg-gray-700 group-hover:bg-sky-500 transition-all"></div>
        <div class="absolute w-4 h-4 bg-gray-200 rounded-full mt-1 -start-2 border border-white dark:border-sky-500 bg-transparent scale-0 group-hover:scale-100 transition-all"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 group-hover:text-sky-200 transition-all">2010 - 2015</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white group-hover:text-sky-500 transition-all">Diseñador / Cachorros y más cachorros </h3>
        <p class="mb-4 text-sm font-normal text-gray-500 dark:text-gray-400">Páginas Web, Identidad Corporativa, Publicidad, Videos...</p>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Trabajos para la empresa: Cachorros y más cachorros</p>
    </li>
</ol>